:root {
  --body-bg: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: linear-gradient(180deg, rgb(160, 200, 240) 0%, rgb(50, 110, 180) 100%) fixed;
  --left-cmd-bg: #cecece;
  --left-cmd-bg-hover: #aeaeae;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  font-size: large;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  cursor: default;
}

@media all and (max-width: 576px) {
  .msger-header {
    font-size: medium;
  	padding: 5px;
  }
}

.msger-header-title {
  width: 100%;
}

.msger-header-title b {
  color: rgb(50, 110, 180);
  cursor: pointer;
}

.msger-header-title b:hover {
  color: rgb(30, 70, 140);
}

.msger-body {
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	overflow-y: auto;
	flex: 1;
}

.msger-chat-form {
	width: 100%;
	display: flex;
  	flex-flow: column wrap;
  	justify-content: space-between;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

@media all and (max-width: 576px) {
  .msg-img {
    width: 0;
    height: 0;
	margin-right: 0;
  }
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
  cursor: default;
  word-wrap: break-word;
}

@media all and (max-width: 576px) {
  .msg-bubble {
	max-width: 280px;
    font-size: 0.85em;
	padding: 10px;
  }
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msg-text img:not(.full-img) {
  max-width: 420px;
  cursor: pointer;
}

@media all and (max-width: 576px) {
  .msg-text img:not(.full-img) {
	max-width: 260px;
  }
}

.popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
  cursor: pointer;
}

.full-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.msg-command {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  background: var(--left-cmd-bg);
  cursor: pointer;
}

.msg-command:hover {
  background: var(--left-cmd-bg-hover);
}

.msg-command:first-child {
  margin-top: 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

@media all and (max-width: 576px) {
  .msger-inputarea {
    padding: 5px;
  }
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

@media all and (max-width: 576px) {
  .msger-inputarea * {
    padding: 5px;
    font-size: 0.85em;
  }
}

.msger-input {
  flex: 1;
  background: #ddd;
}

.msger-send-btn {
  margin-left: 10px;
  background: rgb(50, 110, 180);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

@media all and (max-width: 576px) {
  .msger-send-btn {
    margin-left: 5px;
  }
}

.msger-send-btn:hover {
  background: rgb(30, 70, 140);
}

.msger-chat {
  background-color: #fcfcfe;
  background-size: auto 100%;
}

.dropdown {
  cursor: pointer;
}

.icons li {
  background: none repeat scroll 0 0 rgb(50, 110, 180);
  height: 5px;
  width: 5px;
  list-style: none outside none;
  margin-top: 2px;
  border-radius:50%;
  font-size: 1em;
  cursor: pointer;
  pointer-events: none;
  margin-right: 5px;
}

.icons:hover li {
  background: none repeat scroll 0 0 rgb(30, 70, 140);
}

@media all and (max-width: 576px) {
  .icons li {
    height: 4px;
	width: 4px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-left: -160px;
  width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

@media all and (max-width: 576px) {
  .dropdown-content {
    margin-left: -140px;
	width: 140px;
  }
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ececec;
}

.show {
  display:block;
}

.menu-icon {
  cursor: pointer;
}

.menu-icons li {
  background: none repeat scroll 0 0 rgb(50, 110, 180);
  height: 5px;
  width: 25px;
  list-style: none outside none;
  margin-top: 2px;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
  pointer-events: none;
  margin-left: 5px;
}

.menu-icons:hover li {
  background: none repeat scroll 0 0 rgb(30, 70, 140);
}

@media all and (max-width: 576px) {
  .menu-icons li {
    height: 4px;
	width: 20px;
  }
}

.menu {
  position: relative;
}

.menu-content {
  display: none;
  position: absolute;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  flex-flow: column;
  cursor: default;
}

@media all and (max-width: 576px) {
  .menu-content {
    font-size: 0.85em;
  }
}

.menu-list-item {
  padding: 5px;
}

.user-info {
  padding: 5px;
  white-space: nowrap;
}

.menu-list-item {
  min-width: 320px;

}

@media all and (max-width: 576px) {
  .menu-list-item {
    min-width: 260px;
  }
}

.menu-content-top {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
  border-bottom: var(--border);
}

.menu-content-middle {
  display: flex;
  flex-flow: column;
  padding: 0px;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
}

.menu-content-middle-bottom{
  margin-top: auto;
  margin-bottom: 0px;
}

.menu-content-bottom {
  margin-top: auto;
  margin-bottom: 5px;
  text-align: center;
  border-top: var(--border);
}

.menu-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.menu-content a:hover {
  background-color: #ececec;
}

.user-avatar{
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  border: var(--border);
  margin-left: 5px;
}

@media all and (max-width: 576px) {
  .user-avatar {
    height: 120px;
    width: 120px;
  }
}

.app-version {
  font-size: 0.85em;
  color: #aeaeae;
}

.show-menu {
  display: flex;
}

