:root {
  --body-bg: linear-gradient(180deg, #f5f7fa 0%, #c3cfe2 100%);
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.login-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin: 25px 10px;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
  background: var(--left-msg-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.header-title {
  font-size: large;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  cursor: default;
}

.header-title b {
  color: rgb(50, 110, 180);
  cursor: pointer;
}

.header-title b:hover {
  color: rgb(30, 70, 140);
}

.login-main {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.login-info {
  text-align: center;
  margin-bottom: 2px;
  width: 75%;
  padding: 5px;
  font-size: 1em;
}

.login-error {
  margin-bottom: 15px;
  max-width: 300px;
}

.login-form {
  width: 75%;
}

.input {
	text-align: center;
	margin: 2px;
	width: 100%;
	padding: 10px;
	border: none;
    border-radius: 15px;
	font-size: 1em;
	background: #ddd;
}

.button {
  background: rgb(50, 110, 180);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.button:hover {
  background: rgb(30, 70, 140);
}


